/* When you want to style class like class="main" you include . before class name, no needed . for tags like a,li,ha etc.  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'century gothic', sans-serif;
    scroll-behavior: smooth;
}

/* This a tag is globally declare */
body{
    background-color: #e8f4f8;
}
a{
    text-decoration: none;
}
nav{
		position:relative;
}

.center{
    text-align: center;
}

.sec1{
    position: relative;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
	background-image:url(bg.jpg);
}

.sec1 .title h1{
	border-style: double;
    color: #111;
}

.h1style {
    color:Blue;
    border-style: double;
    color: #111;
}

.sec1 .menus{
    list-style-type: none;
	display: flex;
}

.menubgcolor {
    background-color: #e8f4f8;
}

.sec1 li{
    margin: 03px;
}

.menus a{
	padding: 10px;
	color: #111;
	background: #fff;
	border: 1.5px solid #00ffff;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content{
    position: relative;
    max-width: 800px;
    text-align: center;
    z-index: 1;
}


.banner h1{
	margin-top:-30px;
    font-size: 70px;   
}

.banner  p{
    margin-left: 30px;
    margin-right: 30ppx;
    font-size: 20px;
    margin-top: 10px;
}

.btn{
    position: relative;
    display: inline-block;
    text-align:center;
    color: #fff;
    text-decoration: none;
}

.fitbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.sec2{
	position: relative;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
	background-image:url(bg.jpg);
}
.banner1{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner1 .birthday{
    position: relative;
    max-width: 1000px;
    text-align: center;
    z-index: 1;
}
.banner1 h1{
	margin-top:-250px;
	border-style: double;
    font-size: 70px;   
}

.fitbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-size: cover;
	background-position: center;
}

.sec2{
	position: relative;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
	background-image:url(bg.jpg);
}
.banner2{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2 .festival{
    position: relative;
    max-width: 1000px;
    text-align: center;
    z-index: 1;
}
.banner2 h1{
	margin-top:-250px;
	border-style: double;
    font-size: 70px;   
}
.btn{
    position: relative;
    display: inline-block;
   
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}

.fitbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-size: cover;
	background-position: center;
}

.sec4{
	position: relative;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
	background-image:url(bg.jpg);
}

.banner3{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner3 .wedding{
    position: relative;
    max-width: 1000px;
    text-align: center;
    z-index: 1;
}
.banner3 h1{
	margin-top:-300px;
	border-style: double;
    font-size: 70px;   
}

.fitbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-size: cover;
	background-position: center;
}

.sec5{
	position: relative;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
	background-image:url(bg.jpg);
}

.banner4{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner4 .anniversary{
    position: relative;
    max-width: 1000px;
    text-align: center;
    z-index: 1;

  
  
}
.banner4 h1{
	margin-top:-250px;
    font-size: 70px;   
	border-style: double;
}

.fitbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-size: cover;
	background-position: center;
}


.sec6{
	position: relative;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
	background-image:url(bg.jpg);
}

.banner5{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner5 .greeting{
    position: relative;
    max-width: 1000px;
    text-align: center;
    z-index: 1;
}
.banner5 h1{
	margin-top:-150px;
	border-style: double;
    font-size: 70px;   
}
.fitbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-size: cover;
	background-position: center;
}
.wedding{
	margin-top:190px;
}
 .anniversary{
 	margin-top: 100px;
 }
 .birthday{
    font-size: 50px;
 	margin-top: 100px;
 }
 .festival{
 	margin-top: 100px;
 }

 .fontsize {
     font-size: 100px;
 }